body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f1e8;
}

header {
    background-color: #f3f3f3;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.btn-signup {
    background-color:rgb(155, 207, 83);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
    margin-left:20px;
}
.logo{
    height: auto;
    width:80px;
    border-radius: 50%;
}

.main-content {
    margin-left:400px;
    display: flex;
}
.see{
    margin-left:350px;
    color: black;
}
.home{
    height:auto;
    width:50px;
   margin-left:1140px;
}
.heading{
    align-items: center;
    margin-left:200px;
}

.image-container {
    display: flex;
    justify-content:space-around;
    margin-top:120px;
}

.image-container img {
    width:auto;
    height:200px;
    margin-right: 10px;
}
.matter{
    display: flex;
    margin-left: 100px;
}
